body {
  font-family: sans-serif;
  font-size: 14px;
}
.jumbotron {
  background: green;
  background-image: linear-gradient(to bottom, green, #AFCFBA 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #f7fff7;
  font: italic bolder 50px/1.5em sans-serif;
  text-shadow: 9px 4px 8px rgba(0, 0, 0, 1);
}
.smalltext{
  font-size: 15px;
  float: left; 
  text-shadow: none;
}
#login-buttons {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  background: #AECFB9;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
li {
  clear:both;
  position: relative;
  list-style: none;
  padding: 0px 15px 15px 15px;
  margin: 0px 15px;
  border-bottom: #eee solid 1px;
}
li .text {
  margin-left: 10px;
}
li.checked::after {
  content: "- Out of Stock";
}
li.checked {
  color: #888;
}
li.checked .text {
  text-decoration: line-through;
}
li.private {
  background: #eee;
  border-color: #ddd;
}
.toggle-private {
  margin-left: 5px;
}
.product-form {
  padding: 0 30px;
}
.product-row {
  padding: 40px 0px;
}
.follow-footer {
  padding: 20px 0px;
  background-color: #efefef;
  text-align: center;
}
.small-image {
  max-width: 250px;
}
.icon-image {
  max-width: 25px;
}
@media screen and (max-width: 770px) {
  .right-img {
    display: none !important;
    visibility: hidden;
  }
}
@media screen and (max-width: 700px) {
  .inline-item {
    display: inline-block !important;
  }
}
/* ==========================================================================
   POSITION
   ========================================================================== */
.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ==========================================================================
   UTILS
   ========================================================================== */
.hidden, .hide {
    display: none !important;
    visibility: hidden;
}
.clear {
  clear:both;
}
.float-left{
  float: left;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
