<template name="footerTemplate">
  <footer>
    <div class="fluid-container">
      <div class="row follow-footer">
        <div class="col-xs-12">
          <a href="mailto:alientireprep@gmail.com?Subject=Alien%20Prep%20Question" target="_top"><img class="icon-image" src="{{siteURL}}/images/mail.png"></a>
          <a href="tel:1-417-206-7788"><img class="icon-image" src="{{siteURL}}/images/phone.png"></a>
          <p class="text-muted">Contact or Follow us</p>
          <a href="https://www.facebook.com/pages/4-State-Kart-Shop/835641649863174" target="_blank"><img class="icon-image" src="{{siteURL}}/images/facebook-logo.png"></a>
          <a href="https://twitter.com/alientechprep" target="_blank"><img class="icon-image" src="{{siteURL}}/images/twitter.png"></a>
          <a href="https://instagram.com/alientechprep/" target="_blank"><img class="icon-image" src="{{siteURL}}/images/instagram.png"></a>
          <a href="https://www.youtube.com/channel/UC1Xn6na6nixw9KYpiFU3Qhw" target="_blank"><img class="icon-image" src="{{siteURL}}/images/youtube.png"></a>
        </div>
      </div>
    </div>
  </footer>
</template>