<template name="Main">
  <div class="fluid-container">
  {{> AdminProductForm}}
    <div class="row product-row">
      <div class="col-xs-6 col-sm-3 ">
        <img class="background-image" src="images/greenBud.jpg">
        <img class="background-image mt-40" src="images/bludBud.jpg">
      </div>
      
    {{#if isSubReady 'products'}}
      <div class="col-xs-6 col-sm-6">
        <ul>
          {{#each products}}
            {{> productTemplate}}
          {{/each}}
        </ul>
      </div>
    {{else}}
      <div class="loading"><h4>Loading...</h4></div>
    {{/if}}

      <div class="right-img">
        <div class="col-sm-3">
          <img class="background-image mb-40" src="/images/pinkBud.jpg">
          <img class="background-image mt-40" src="images/yellowBud.jpg">
        </div>
      </div>
    </div>
  </div> <!-- end fluid-container -->
</template>

<template name="productTemplate">
  <li class="li-product" data-action="product">
    <div class="row">
      {{#if isInRole 'admin'}}
        <button data-action="delete-product" class="delete-product">&times;</button>
        <a href="#" class="edit-link">edit</a>
      {{/if}}
      <div class="xs-col-12">
        <h3 class="product-title ">{{title}}</h3>
        <img src="/images/{{image}}" class="pull-left mb-20 mr-20 inline-item">
        <span class="inline-item">{{text}}</span><br>
        <h4 class="price-text">{{price}}</h4>
        <h4 class="price-text">{{quart}}</h4>
      </div>
    </div>
  </li>
</template>