<template name="navBar">
  <div class="jumbotron">
    <div class="logo-div">
      <a href="/"><img class="logo-img" src="{{siteURL}}/images/greenbudnoglow.png"></a>
    </div>
    <h1><b>Alien Tire Prep</b></h1>
  </div>
  <div class="row jumbotron-links">
    <div class="col-xs-12">
      <div class="smalltext pull-right">
        <span>By:<a href="https://www.facebook.com/pages/4-State-Kart-Shop/835641649863174"> 4 State Kart Shop</a></span>
      </div>
      <div class="smalltext">
        <span>{{> loginButtons}}</span>
      </div>
    </div>
  </div>

  <div class="jumbotron-rainbow"></div>
</template>