@font-face {
    font-family: orbit;
    src: url(fonts/tt0213m_.ttf);
}

/*div {
    font-family: myFirstFont;
}*/

body {
  font-family: sans-serif;
  font-size: 14px;
}
.product-title{  
  color: #f7fff7;
  font: italic bolder 26px/1.5em orbit;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
  padding-left: 20px;
}
.price-text{
  margin-right: 20px;
  text-align: right;
}
#login-buttons {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  background: #AECFB9;
}
.hide-form{
  margin-top: 10px;
  float: right;
}
.show-form{
  margin: 10px 0 0 39px;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
li {
  clear:both;
  position: relative;
  list-style: none;
  padding: 0px 15px 15px 15px;
  margin: 0px 15px;
  border-bottom: #eee solid 1px;
}
li .text {
  margin-left: 10px;
}
li.checked::after {
  content: "- Out of Stock";
}
li.checked {
  color: #888;
}
li.checked .text {
  text-decoration: line-through;
}
li.private {
  background: #eee;
  border-color: #ddd;
}
.toggle-private {
  margin-left: 5px;
}
.product-form {
  background: #ececec;
  padding: 0 30px 30px 30px;
}
.product-row {
  padding: 30px 0px;
}
.follow-footer {
  padding: 20px 0px;
  background-color: #efefef;
  text-align: center;
}
.background-image {
  opacity: 0.7;
  max-width: 250px;
}
.icon-image {
  max-width: 35px;
  margin: 0px 5px;
}

@media screen and (max-width: 770px) {
  .right-img {
    display: none !important;
    visibility: hidden;
  }
}
@media screen and (max-width: 700px) {
  .inline-item {
    display: inline-block !important;
  }
}
@media screen and (max-width: 320px) {
  .inline-item {
    max-width: 120px;
    display: inline-block !important;
  }
}
/* ==========================================================================
   POSITION
   ========================================================================== */
.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ==========================================================================
   UTILS
   ========================================================================== */
.hidden, .hide {
    display: none !important;
    visibility: hidden;
}
.clear {
  clear:both;
}
.float-left{
  float: left;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
