<template name="Main">
  <div class="fluid-container">

  <!-- {{> navBar}} -->
  {{> AdminProductForm}}

    <div class="row product-row">
      <div class="col-xs-6 col-sm-3 ">
        <img class="background-image" src="images/greenBud.jpg">
        <img class="background-image mt-40" src="images/bludBud.jpg">
      </div>
      <div class="col-xs-6 col-sm-6">
        <ul>
          {{#each products}}
            {{> productTemplate}}
          {{/each}}
        </ul>
      </div>
      <div class="right-img">
        <div class="col-sm-3">
          <img class="background-image mb-40" src="/images/pinkBud.jpg">
          <img class="background-image mt-40" src="images/yellowBud.jpg">
        </div>
      </div>
    </div>
  </div> <!-- end fluid-container -->
    <!-- {{> footerTemplate}} -->
</template>

<template name="productTemplate">
  <li class="{{#if checked}}checked{{/if}}" data-action="product">
    <div class="row">
      {{#if isInRole 'admin'}}
        <button class="delete">&times;</button>
        <a href="#" class="edit-link">edit</a>
        <!-- <input type="checkbox" checked="{{checked}}" class="toggle-checked"/> -->
      {{/if}}
      <div class="xs-col-12">
        <h3 class="product-title ">{{title}}</h3>
        <img src="/images/{{image}}" class="pull-left mb-20 mr-20 inline-item">
        <span class="inline-item">{{text}}</span><br>
        <h4 class="price-text">{{price}}</h4>
        <h4 class="price-text">{{quart}}</h4>
      </div>
    </div>
  </li>
</template>

<template name="footerTemplate">
  <footer>
    <div class="fluid-container">
      <div class="row follow-footer">
        <div class="col-xs-12">
          <a href="mailto:alientireprep@gmail.com?Subject=Alien%20Prep%20Question" target="_top"><img class="icon-image" src="images/mail.png"></a>
          <a href="tel:1-417-434-7551"><img class="icon-image" src="images/phone.png"></a>
          <p class="text-muted">Contact or Follow us</p>
          <a href="https://www.facebook.com/pages/4-State-Kart-Shop/835641649863174" target="_blank"><img class="icon-image" src="images/facebook-logo.png"></a>
          <a href="https://twitter.com/alientechprep" target="_blank"><img class="icon-image" src="images/twitter.png"></a>
          <a href="https://instagram.com/alientechprep/" target="_blank"><img class="icon-image" src="images/instagram.png"></a>
          <a href="https://www.youtube.com/channel/UC1Xn6na6nixw9KYpiFU3Qhw" target="_blank"><img class="icon-image" src="images/youtube.png"></a>
        </div>
      </div>
    </div>
  </footer>
</template>

<template name="AdminProductForm">
  {{#if isInRole 'admin'}}
  <div class="row">
    <button class="show-form {{hideForm}}">Open Form</button>
    <div class="col-xs-12 col-sm-8 product-form {{showForm}}">
      <button class="hide-form">&times;</button>
      <h3>{{header}}</h3>
        <!-- text input -->
        <div class="form-group">
          <label>Product Name</label>
          <input class="form-control" type="text" name="title" placeholder="Product name">
        </div>

        <!-- text input -->
        <div class="form-group">
          <label>Price Gallon</label>
          <input class="form-control" type="text" name="price" placeholder="Gallon Price">
        </div>

        <!-- text input -->
        <div class="form-group">
          <label>Price Quart</label>
          <input class="form-control" type="text" name="quart" placeholder="Quart Price">
        </div>

        <!-- text input -->
        <div class="form-group">
          <label>Image File</label>
          <input class="form-control" type="text" name="image" placeholder="Image">
        </div>

        <!-- text area input-->
        <div class="form-group">
          <label>Description</label>
            <textarea class="form-control" rows="5" cols="62" type="text" name="text" placeholder="Description"></textarea>
        </div>
        <br>
        {{#if editMode}}
          <button class="btn btn-success update-product">Edit</button>
        {{else}}
          <button class="btn btn-success save-product">Add</button>
        {{/if}}
        <button class="btn btn-default cancel">Cancel</button>
        <br>

        <!--checkbox-->
        <!-- <div class="form-group">
          <label class="hide-checked"><input type="checkbox" checked="{{hideChecked}}">
              Hide Out of Stock Products
          </label>
        </div> -->
    </div>
  </div>
  {{/if}}
</template>


